* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;   
}

.navigation {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 34px 16px;
}

.footer {
    background: #316099;
    
    &_block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_info{
            &_header {
                width: 340px;
                color: #FFF;
                font-family: Roboto;
                font-size: 36px;
                font-style: normal;
                font-weight: 400;
                line-height: 46px;
                letter-spacing: 1.8px;
                padding: 91px 0 32px 0;
            }
            
            &_description {
                color: #FFF;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0.8px;
                width: 494px;
                opacity: 0.6;
                padding: 32px 0 96px 0;
            }
    
            &_button{
                padding: 15px 80px;
                text-decoration: none;
                background: #5A98D0;
                color: #FFF;
                text-align: center;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0.64px;
                display: inline-block;
            }
        }

        &_contacts{
            display: flex;
            justify-content: space-between;
            align-items: center;  
            padding: 16px;
            &_list {
                display: flex;
                padding: 64px 0;
                justify-content: space-around;
                list-style: none;
                
                &_item {
                    color: #FFF;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                    letter-spacing: 0.8px;
                    display: flex;
                    justify-content: space-between;
                
                    &_numeration {
                        width: 50px;
                    }
                    
                    &_text{
                        width: 250px;
                    }
                } 
            }           
        }
    }

    &_copyright {
        color: #FFF;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.8px;
        opacity: 0.4;
        padding-bottom: 64px;
    }
}

@media (max-width: 1141px) and (min-width: 789px)
{
    .footer{
        &_block{        
            padding: 0 16px;
        
            &_list{        
                padding: 0 16px;
                flex-direction: column;
                align-items: start;
            }

            &_contacts{
                &_list{
                    flex-direction: column;
                    padding: 64px 0 39px 0;
                    &_item{
                        padding-bottom: 25px;
                        justify-content: start;
                    
                        &_text{
                            width: auto;
                        }
                    }
                }
            } 
        }
    }
}
@media (max-width: 788px) and (min-width: 451px)
{
    .navigation {
        padding: 47px 32px; 
    }
    .footer{
        &_block{
             padding: 0 32px;
             box-sizing: border-box;
             
             &_info{
                 &_header{
                     width: auto;
                 }
                 
                 &_description{
                     width: auto;
                 }
 
                 &_button{
                     padding: 10px 40px;
                     font-size: 16px;
                 }
             }
 
             &_contacts{
                 &_list{
                     flex-direction: column;
                 
                     &_item{
                         &_text{
                             width: 100%;
                         }
                     }
                 }
             }
        } 
     }
}
@media (max-width: 450px)
{
    .navigation{
        padding: 16px 16px 0 16px;
        
    }
    .footer{
        padding: 0 16px;
        
        &_block{            
            display: flex;
            flex-direction: column;
            align-items: center;
            
            &_info{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                
                &_header{
                    padding: 18px 0 32px 0;
                    text-align: center;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: normal;
                }
                
                &_description{
                    width: auto;
                    padding: 0 0;
                }
                
                &_button{
                    padding: 5px 25px;
                    margin: 40px 0;
                }

            }

            &_contacts{ 
                flex-direction: column;
                padding: 32px 0;
                
                &_list{
                    flex-direction: column;
                }
            }
        }
    }

    .footer_copyright{
        padding-bottom: 32px;
    }
}
