.header {
  max-height: 100vh;
  background: linear-gradient(0deg, #EBF3FB 28.39%, rgba(152, 195, 232, 0) 100%);
}
.header_info {
  height: 686px;
  color: #1F3F68;
  font-family: Roboto;
  font-style: normal;
  background-image: url(../img/illustration.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.header_info_title {
  font-size: 64px;
  font-weight: 300;
  line-height: 74px;
  letter-spacing: 2.56px;
  padding-top: 107px;
  padding-bottom: 32px;
}
.header_info_text {
  font-size: 16px;
  width: 425px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.8px;
  padding-bottom: 71px;
}
.header_info_button {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px;
  border-radius: 10px;
  background: #5A98D0;
  box-shadow: 5px 10px 20px 0px rgba(53, 110, 173, 0.2);
  padding: 15px 50px;
  display: inline-block;
  text-decoration: none;
}

.text-header {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 1.8px;
  padding: 64px 0;
}

.card-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-list_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 359px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.2);
  padding: 44px 32px;
  box-sizing: border-box;
}
.card-list_card_img {
  height: 120px;
  padding-bottom: 45px;
}
.card-list_card_header {
  color: #1F3F68;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  padding-bottom: 14px;
}
.card-list_card_description {
  color: #1F3F68;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.8px;
  margin-bottom: 30px;
}
.card-list_card_button {
  display: flex;
  color: #5A98D0;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.7px;
  text-decoration: none;
  justify-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.card-list_card_button_img {
  padding-left: 20px;
}

.our-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 112px;
}
.our-project_description {
  color: #222;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.8px;
  max-width: 720px;
  padding: 16px;
}
.our-project_list {
  display: flex;
  align-content: space-between;
  flex-flow: column wrap;
}
.our-project_list_project {
  position: relative;
  padding: 16px;
}
.our-project_list_project_header {
  position: absolute;
  color: #FFF;
  text-align: right;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1.6px;
  text-align: right;
  top: 64px;
  right: 64px;
}
.our-project_list_project_img {
  border-radius: 10px;
  width: 100%;
}
.our-project_list_two-projects {
  display: flex;
  justify-content: space-between;
}
.our-project_list_two-projects_header {
  position: absolute;
  color: #FFF;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1.4px;
  top: 32px;
  left: 32px;
}

.footer {
  background: #316099;
}
.footer_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_block_info_header {
  width: 340px;
  color: #FFF;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1.8px;
  padding: 91px 0 32px 0;
}
.footer_block_info_description {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.8px;
  width: 494px;
  opacity: 0.6;
  padding: 32px 0 96px 0;
}
.footer_block_info_button {
  padding: 15px 80px;
  text-decoration: none;
  background: #5A98D0;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px;
  display: inline-block;
}
.footer_block_contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_block_contacts_list {
  display: flex;
  padding: 64px 0;
  justify-content: space-around;
  list-style: none;
}
.footer_block_contacts_list_item {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.8px;
  display: flex;
  justify-content: space-between;
}
.footer_block_contacts_list_item_numeration {
  width: 50px;
}
.footer_block_contacts_list_item_text {
  width: 250px;
}
.footer_copyright {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.8px;
  opacity: 0.4;
  padding-bottom: 64px;
}

@media (max-width: 1141px) and (min-width: 789px) {
  .card-list {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .card-list_card {
    margin: 16px 0;
  }
  .footer_block {
    padding: 0 16px;
  }
  .footer_block_list {
    padding: 0 16px;
    flex-direction: column;
    align-items: start;
  }
  .footer_block_contacts_list {
    flex-direction: column;
    padding: 64px 0 39px 0;
  }
  .footer_block_contacts_list_item {
    padding-bottom: 25px;
    justify-content: start;
  }
  .footer_block_contacts_list_item_text {
    width: auto;
  }
}
@media (max-width: 788px) and (min-width: 451px) {
  .header_info {
    padding-left: 32px;
    background-size: 336px;
    background-position: right center;
    max-width: 520px;
  }
  .text-header {
    padding: 64px 32px;
  }
  .card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card-list_card {
    margin-bottom: 32px;
  }
  .our-project {
    padding: 0 16px;
  }
  .footer_block {
    padding: 0 32px;
    box-sizing: border-box;
  }
  .footer_block_info_header {
    width: auto;
  }
  .footer_block_info_description {
    width: auto;
  }
  .footer_block_info_button {
    padding: 10px 40px;
    font-size: 16px;
  }
  .footer_block_contacts_list {
    flex-direction: column;
  }
  .footer_block_contacts_list_item_text {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .header {
    padding-bottom: 40px;
  }
  .header_info {
    background-image: none;
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .header_info_title {
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.28px;
    padding: 28px 0 12px 0;
  }
  .header_info_text {
    text-align: center;
  }
  .header_info_button {
    font-size: 12px;
    padding: 5px 20px;
    border-radius: 15px 15px;
  }
  .text-header {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: normal;
    padding: 48px 16px;
  }
  .what-we-do {
    padding: 16px;
  }
  .card-list {
    justify-content: center;
  }
  .card-list_card {
    margin-bottom: 32px;
  }
  .our-project {
    padding-bottom: 64px;
  }
  .our-project_description {
    padding: 0px 16px 82px 16px;
  }
  .our-project_list_project {
    padding: 8px 16px;
  }
  .our-project_list_project_header {
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
  }
  .our-project_list_two-projects {
    flex-direction: column;
  }
  .our-project_list_two-projects_header {
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
  }
  .footer {
    padding: 0 16px;
  }
  .footer_block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer_block_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer_block_info_header {
    padding: 18px 0 32px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
  }
  .footer_block_info_description {
    width: auto;
    padding: 0 0;
  }
  .footer_block_info_button {
    padding: 5px 25px;
    margin: 40px 0;
  }
  .footer_block_contacts {
    flex-direction: column;
    padding: 32px 0;
  }
  .footer_block_contacts_list {
    flex-direction: column;
  }
  .footer_copyright {
    padding-bottom: 32px;
  }
}/*# sourceMappingURL=index.css.map */